mixin colors(items)
  .row.colors
    each item in items
      .col-xs-6.col-sm-3.col-md-2: .color-item
        .view(style="background-color: #{item.color}")
        .color-name!=item.name
mixin icons(items)
  .row.icons
    each item in items
      -itemFormat = '.' + item.split(' ')[0] + '.' + item.split(' ')[1]
      .col-sm-4.col-md-3: .icon-item
        span.view(class=item)
        .icon-name!=itemFormat
mixin btn-tempalte(opts)
  .btn-viewer
    h3=opts.title
    if block
      block
    span.view!=opts.usage

extends layouts/template

block vars
  -title = 'Style Guide'

block container
  nav(role="navigation").navbar.navbar-default.navbar-fixed-top
    .navbar-header
      button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="sitemap.html").navbar-brand Sitemap
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li: +link({title: 'Colors', href: '#colors'})
        li: +link({title: 'Icons', href: '#icons'})
        li: +link({title: 'Buttons', href: '#buttons'})
  .container-fluid
    h1 Style Guide
    h2.title-template#colors Colors
    h3 Basic
    +colors([
      {color: '#ffffff', name: '$white'},
      {color: '#000000', name: '$black'}
    ])
    h3 Blue
    +colors([
      {color: '#00798c', name: '$inpi-blue'},
      {color: '#96d4df', name: '$blue-1'},
      {color: '#71b9c8', name: '$blue-2'}
    ])
    h3 Gray
    +colors([
      {color: '#cccccc', name: '$gray-1'},
      {color: '#f3f4f6', name: '$gray-2'},
      {color: '#666666', name: '$gray-3'},
      {color: '#f2f3f6', name: '$gray-4'},
      {color: '#e9eaec', name: '$gray-5'},
      {color: '#263242', name: '$gray-dark-1'},
      {color: '#27303e', name: '$gray-dark-2'},
      {color: '#323c48', name: '$gray-dark-3'},
      {color: '#e8e9eb', name: '$gray-light-1'},
      {color: '#e8ecef', name: '$gray-light-2'},
      {color: '#e2e2e2', name: '$gray-light-3'},
      {color: '#f8f9fb', name: '$gray-light-4'}
    ])
    h3 Orange
    +colors([
      {color: '#ff5a5f', name: '$orange-1'}
    ])
    h2.title-template#icons Icons
    +icons(['icon icon-arrow-time', 'icon icon-arrows-updown', 'icon icon-back-to-top', 'icon icon-charts', 'icon icon-chrono', 'icon icon-cross', 'icon icon-difficulty-1', 'icon icon-difficulty-2', 'icon icon-difficulty-3', 'icon icon-difficulty-4', 'icon icon-difficulty-5', 'icon icon-difficulty-6', 'icon icon-difficulty-full', 'icon icon-disconnect', 'icon icon-document', 'icon icon-down', 'icon icon-facebook', 'icon icon-file', 'icon icon-home', 'icon icon-img', 'icon icon-left', 'icon icon-linkedin', 'icon icon-message', 'icon icon-minus', 'icon icon-ok', 'icon icon-pdf', 'icon icon-people', 'icon icon-phone', 'icon icon-picto-brevet', 'icon icon-picto-dessin', 'icon icon-picto-enveloppe', 'icon icon-picto-hand', 'icon icon-picto-marque', 'icon icon-picto-question', 'icon icon-pin', 'icon icon-plus', 'icon icon-print', 'icon icon-profil', 'icon icon-remote-dots', 'icon icon-return', 'icon icon-right', 'icon icon-roadmap', 'icon icon-search', 'icon icon-separator', 'icon icon-shop', 'icon icon-start', 'icon icon-title-underline', 'icon icon-training', 'icon icon-twitter', 'icon icon-up', 'icon icon-user', 'icon icon-watch'])
    h2.title-template#buttons Buttons
    .row
      .col-xs-6.col-sm-4.col-md-3
        +btn-tempalte({title: 'Button Icon Only', usage: '.btn.btn-icon'})
          +link({title: 'Download file'}).btn.btn-icon
            span.icon.icon-file
            span.sr-only Download file
      .col-xs-6.col-sm-4.col-md-3
        +btn-tempalte({title: 'Button Text Only', usage: '.btn.btn-1'})
          +link({title: 'Rechercher'}).btn.btn-1
      .col-xs-6.col-sm-4.col-md-3
        +btn-tempalte({title: 'Button Left Icon', usage: '.btn.btn-icon'})
          +link({title: 'Retour'}).btn.btn-icon
            span.icon.icon-left
            span.text Retour
      .col-xs-6.col-sm-4.col-md-3
        +btn-tempalte({title: 'Button 2', usage: '.btn.btn-2'})
          +link({title: 'Retour'}).btn.btn-2 Button 2
    h2.title-template#custom Form custom element
    .row
      .col-xs-6.col-sm-4.col-md-3
        +btn-tempalte({title: 'radio custom', usage: "+radio-custom({name: 'name', id: 'name1', textLabel: 'Radio 1', checked: 'true'})"})
          +radio-custom({name: 'name', id: 'name1', textLabel: 'Radio 1', checked: 'true'})
          +radio-custom({name: 'name', id: 'name2', textLabel: 'Radio 2'})
          +radio-custom({name: 'name', id: 'name3', textLabel: 'Radio 3'})
      .col-xs-6.col-sm-4.col-md-3
        +btn-tempalte({title: 'radio custom', usage: "+checkbox-custom({name: 'checkbox1', textLabel: 'checkbox 1', checked: 'true'})"})
          +checkbox-custom({name: 'checkbox1', textLabel: 'checkbox 1', checked: 'true'})
          +checkbox-custom({name: 'checkbox2', textLabel: 'checkbox 2'})
          +checkbox-custom({name: 'checkbox3', textLabel: 'checkbox 3'})
